@import '../../../css/shared.less';

.CollocExamplesView {

    .sentences {

        .FilteredLine {
            padding-left: 0.7em;

            .highlighted {
                background-color: @color-data-highlight-row;
            }

            .LineMetadata {
                position: absolute;
                padding: 1em;
                background-color: #FFFFFF;
                margin-left: 2em;
                border-radius: .25em;
                box-shadow: .05em .05em .15em .05em rgba(0,0,0, 0.2);

                th {
                    text-align: right;
                }
            }

            a.info-click {
                cursor: pointer;
                display: inline-block;
                margin-right: 0.7em;
                vertical-align: middle;

                img {
                    display: block;
                    margin: 0;
                    width: 1em;
                }
            }

            .flex {
                padding: 0.4em 0.4em;
                margin: 0;
                display: flex;
                align-items: center;
            }

        }

        .FilteredLine:nth-child(odd) .flex {
            background-color: @color-whitelike-blue;
        }

        p {
            margin: 0;
            padding: 0;

            .kwic {
                color: @color-logo-pink;
            }

            .coll {
                color: @color-logo-pink;
                font-size: 120%;
                font-style: italic;
            }

            a.coll {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}