@import '../shared.less';

body {

	> header.wdg-header {

		text-align: center;
		margin-top: 1.2em;

		a {
			display: inline-block;
			margin: 0;
			text-decoration: none;

			img {
				width: 30em;
			}
		}
	}

	.wdglance-mount {
		max-width: 1550px;
		margin: 0 auto;
	}

}

.tile-body {
	padding: 1.35em;
	text-align: justify;
	line-height: 1.6;
}