@import '../../../../css/shared.less';

.MultiWordTimeDistribTile {
    position: relative;

    #zoomResetButton {
        position: absolute;
        right: 1em;
        bottom: 1em;
    }

    .ChartLegend {

        .item {
            font-weight: bold;

            .box {
                display: inline-block;
                margin-right: 0.5em;
                margin-bottom: 0.25em;
                width: 1.5em;
                height: 1.5em;
                vertical-align: middle;
                border-radius: 2px;
            }

        }

        .item:not(:first-child) .box {
            margin-left: 1em;
        }
    }

    .recharts-responsive-container {
        margin: 0 auto;
    }

    p.message {
        margin-top: 0.2em;
        margin-bottom: 0.8em;
    }

    .tweak-box {

        form {
            display: flex;
            align-self: center;
            line-height: 1.8em;

            > *:not(:first-child) {
                margin-left: 1em;
            }

            label > * {
                display: inline-block;
                vertical-align: middle;
            }

            .range {
                font-size: 1.2em;
                padding: 0 0.2em;
            }

            #intervalSelect {
                margin-left: 0.7em;
            }
        }
    }

    .chart-tooltip {

        background-color: #FFFFFF;
        padding: 0.3em 1em 1.3em 1em;
        border: 1px solid @color-light-grey;
        border-radius: 3px;
        border-spacing: 0;
        border-collapse: collapse;
        line-height: 1.2em;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        //pointer-events: 'none';

        table {

            th {
                font-weight: bolder;
                text-align: left;
                padding: 10px 0;
            }

            td.label {
                font-weight: 900;
                color: white;
                text-align: center;
                padding: 0 10px 0 10px;
            }

            td.numWhole {
                text-align: right;
                padding: 0 0 0 10px;
            }
            
            td.numDec {
                text-align: left;
                padding: 0;
            }

            td.unit {
                text-align: center;
            }

        }
    }
}