version: '3.7'
services:
  wag:
    build: .
    container_name: wag-container
    command: npm start server
    volumes:
      - ./conf:/opt/wag/conf
      - wag-static:/opt/wag/assets
      - wag-dist:/opt/wag/dist
    networks:
      - redis
      - wag
  nginx:
    image: nginx:latest
    container_name: nginx-container
    ports:
      - "8080:80"
    depends_on:
      - wag
    volumes:
      - ./install/docker.nginx.conf:/etc/nginx/conf.d/default.conf
      - wag-static:/opt/wag/assets
      - wag-dist:/opt/wag/dist
    networks:
      - wag
  redis:
    image: redis:latest
    container_name: redis-container
    networks:
      - redis
volumes:
  wag-static:
  wag-dist:
networks:
  redis: {}
  wag: {}