services:
  wag:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.wag
    volumes:
      - ${WAG_CONFIG_PATH}:/opt/wag/conf
      - wag-shared:/opt/wag-shared
    networks:
      - nginx
      - data
    # to access e.g. a non-docker database, use 'extra_hosts'
    # extra_hosts:
    #   - [required hostname]:[IP address of the host]
    command: bash -c "cp -r /opt/wag/dist /opt/wag/assets /opt/wag-shared && npm start server"
    hostname: wag-server

  apiguard:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.apiguard
    volumes:
      - ${APIGUARD_CONF}:/opt/apiguard/conf.docker.json
    ports:
      - "8081:8081"
    networks:
      - nginx
      - data
    hostname: wag-apiguard

  mquery:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.mquery
    volumes:
      - ${MQUERY_CONF}:/opt/mquery/conf.docker.json
      - ${CORPORA_CONF}:/opt/mquery/corpora
      - corpora-data:/var/lib/manatee
      - corpora-split:/var/lib/manatee/split
    ports:
      - "8082:8082"
    networks:
      - data
    hostname: wag-mquery

  mquery-worker:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.mquery
    command: "./mquery worker conf.docker.json"
    volumes:
      - ${MQUERY_CONF}:/opt/mquery/conf.docker.json
      - ${CORPORA_CONF}:/opt/mquery/corpora
      - corpora-data:/var/lib/manatee
      - corpora-split:/var/lib/manatee/split
    networks:
      - data

  frodo:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.frodo
    ports:
      - "8083:8083"
    volumes:
      - ${FRODO_CONF}:/opt/frodo/conf.docker.json
      - ${VERT_TAGEXTRACT_CONF}:/opt/frodo/vert-tagextract/conf
      - ${CORPORA_CONF}:/opt/frodo/corpora
      - corpora-data:/var/lib/manatee
    networks:
      - data
    hostname: wag-frodo

  nginx:
    image: nginx:latest
    depends_on:
      - wag
    volumes:
      - ./install/docker/nginx.conf:/etc/nginx/conf.d/default.conf
      - wag-shared:/opt/wag
    ports:
      - "8080:80"
    networks:
      - nginx

  redis:
    image: redis:latest
    volumes:
      - redis-data:/data
    networks:
      - data
    hostname: wag-redis

  mariadb:
    image: mariadb:latest
    environment:
      MARIADB_ROOT_PASSWORD: root-secret
      MARIADB_USER: liveattrs
      MARIADB_PASSWORD: liveattrs-secret
      MARIADB_DATABASE: liveattrs
    volumes:
      - ./install/docker/mariadb-init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./install/freqdb/dictionary.sql:/docker-entrypoint-initdb.d/dictionary.sql
      - mariadb-data:/var/lib/mysql
    networks:
      - data
    hostname: wag-mariadb

volumes:
  wag-shared: {}
  corpora-data: {}
  corpora-split: {}
  redis-data: {}
  mariadb-data: {}

networks:
  nginx: {}
  data: {}