@import '../../../css/shared.less';

.SummaryTileView {

    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: top;

    > div {

    }

}

.FreqLevelCustomTooltip {
    padding: 0.7em;
    background-color: #FFFFFF;
    border-radius: 2px;
    border: 1px solid @color-light-grey;

}