@import '../../../css/shared.less';

.CollocTile {

    .boxes {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-direction: row;

        > .chart {
            min-width: 50%;
        }
    }
}

body > .wcloud-tooltip {
    position: absolute;
    background-color: #ffffff;
    color: #333333;
    padding: 0.3em 0.7em;
    border-radius: 4px;
    border: 1px solid #cbcbcb;
}


@media screen and (max-width: @media-medium-screen) {

    .CollocTile {

        .boxes {

            > .chart {
                min-width: initial;
                width: 100%;
            }
        }
    }

}