@import '../../../css/shared.less';

.WordFreqTileView.mobile {
    flex-direction: column;

    > div.cell h3 {
        margin-top: 1em;
    }
}

.WordFreqTileView {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;

    > div.cell:not(:last-child) {
        margin-bottom: 1.7em;
    }

    .NearestFreqWords {
        border-spacing: 0;
    }

    .Stars {
        display: block;
        white-space: nowrap;

        img {
            width: 1em;
        }
    }

    .LemmaList {

        th {
            text-align: left;
        }

        tr.current {
            background-color: @color-light-pink;
        }
    }

}

.FreqLevelCustomTooltip {
    padding: 0.7em;
    background-color: #FFFFFF;
    border-radius: 2px;
    border: 1px solid @color-light-grey;

}