@import '../../../css/shared.less';

.TreqTranslations {

    margin-top: 1em;

    table.words {

        border-spacing: 0;
        margin-bottom: 1em;

        tr:nth-child(2n+3) {
            background-color: @color-whitelike-blue;
        }

        th, td {
            padding: 0.3em 0.7em;
        }

        td.translation {
            color: @color-logo-pink;
            font-size: 1.2em;
        }
    }
}