@import '../shared.less';


.BacklinkForm {
    display: inline;
    padding: 0;

    button {
        display: inline;
        padding: 0 12px 0 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        text-decoration: none;
        color: #009ee0;
        background-image: url(../../../assets/external-link.png);
        background-repeat: no-repeat;
        background-position: 99% 0;
    }

    button:hover {
        text-decoration: underline;
    }
}

.SourceInfoBox {
    a.external {
        background-image: url(../../../assets/external-link.png);
        background-repeat: no-repeat;
        background-position: 99% 0;
        padding-right: 1.1em;
    }
}