@import '../shared.less';


.AjaxLoader.centered {
    display: block;
    margin: 2em auto 2em auto;
}


@keyframes slidein {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(220%);
    }
  }

.TileWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .loader-wrapper {
        height: 0.2em;

        .TitleLoaderBar {

            animation: slidein 3s linear 0s infinite running;

            .grad {
                position: relative;
                margin-left: -110%;
                width: 100%;
                height: 0.2em;
                background: linear-gradient(0.25turn, #ffffff, @color-logo-pink, #ffffff);
            }
        }
    }

    .content {
        font-size: .9em;
        padding: 1.25em;

        .tweak-box {
            margin-bottom: 1.5em;
        }

        .empty-group {
            display: flex;
            align-items: center;

            .MessageStatusIcon {
                margin-right: 1em;
            }
        }
    }

    .source {
        font-size: .9em;
        padding: 1.25em;
        color: @color-light-text;

        a {
            cursor: pointer;
            text-decoration: none;
            color: @color-logo-blue;
        }

        a:hover {
            text-decoration: underline;
        }
    }

}

.TileWrapper.empty {

    .msg {
        color: #555555;
        font-size: 1.2em;
    }
}

.HorizontalBlockSwitch {

    padding-top: 0.3em;
    padding-top: 0.3em;
    text-align: center;

    a {
        color: @color-logo-blue;
        cursor: pointer;
        font-size: 2em;
        padding: 0.2em;
        display: inline-block;
    }

    a:hover {
        text-decoration: none;
    }

    a.current {
        color: @color-logo-blue-shining;
    }
}

.BacklinkForm {
    display: inline;
    padding: 0;

    button {
        display: inline;
        padding: 0 12px 0 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        text-decoration: none;
        color: #009ee0;
        background-image: url(../../../assets/external-link.png);
        background-repeat: no-repeat;
        background-position: 99% 0;
    }

    button:hover {
        text-decoration: underline;
    }
}

.TileReloadControl {

    text-align: center;

    a {
        cursor: pointer;
        font-size: 1.5em;
    }
}
