@import '../shared.less';

.Messages {

    list-style-type: none;
    margin: 0;
    padding: 0;

    .SystemMessage {

        margin: 0;
        padding: 0;

        .wrapper {

            display: inline-block;
            margin-top: 0.2em;
            margin-bottom: 0.2em;

            .flex {
                display: flex;
                align-items: center;
                background-color: #ffffff;
                border-radius: @default-border-radius;
                border-color: @color-light-grey;
                border-width: 0.05em;
                border-style: solid;

                > * {
                    padding: 0.4em;
                }

                .info-icon {
                    width: 1.2em;
                }

                p {
                    margin: 0;
                }
            }
        }
    }

}

.WdglanceMain {

}

.WdglanceControls {
    text-align: center;
    padding: 1em;

    .main {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .input-group input:not(:last-child) {
        margin-bottom: 0.3em;
    }

    .QueryTypeSelector {
        margin-top: 1em;

        label:not(:first-child) {
            margin-left: 0.7em;
        }

        input[type="radio"] {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0.2em;
        }
    }

    .QueryLangSelector {
        margin-right: 0.7em;
        margin-left: 0.7em;
    }

    .QueryLangSelector.secondary {
        margin-right: 0;
    }

    input.invalid {
        border-color: red;
    }

    .arrow {
        margin-right: 0;
        margin-left: 0.4em;
        font-weight: bold;
        font-size: 1.5em;
    }

    .SubmitButton {
        margin-left: 0.7em;
    }
}

.app-output {
    border-color: @color-logo-blue;
    border-radius: @default-border-radius;
    overflow: hidden;
}
