@import '../../../css/shared.less';

.GeoAreasTileView {
    display: flex;

    table.data tr.highlighted {
        background-color: @color-light-pink;
    }

    .legend {
        text-align: center;
    }
}