@import '../../../css/shared.less';

.FreqPieTileView {

    .ChartSwitch {
        padding-top: 0.3em;
        padding-top: 0.3em;
        text-align: center;

        a {
            color: @color-light-pink;
            cursor: pointer;
            font-size: 2em;
            padding: 0.2em;
            display: inline-block;
        }

        a:hover {
            text-decoration: none;
        }

        a.current {
            color: @color-logo-orange;
        }
    }

    .charts {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }
}