@import '../../../../css/shared.less';

.MultiWordGeoAreasTileView {
    display: flex;
    justify-content: center;

    .map-tooltip {

        position: absolute;
        display: none;
        background-color: #FFFFFF;
        z-index: 10000;
        padding: 0.3em 1em;
        border: 1px solid @color-light-grey;
        border-radius: 3px;
        border-spacing: 0;
        border-collapse: collapse;
        line-height: 1.2em;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        //pointer-events: 'none';

        table {

            th {
                font-weight: bolder;
                text-align: left;
                padding: 10px 0;
            }

            td {
                font-weight: normal;
                text-align: left;
                padding: 0 10px;
            }

            td.num {
                text-align: right;
            }

        }
    }
}