@import './shared.less';

body {
    font-family: "Roboto", "Segoe UI", Arial, sans-serif;
    font-size: 1em;
    background-image: @main-background;
}

section.tiles {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    color: #444;
}

section.tiles.exclusive {
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.app-output {

    .panel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .ExtendButton {
            vertical-align: middle;
        }

        h2 {
            margin: 0;
            padding: 0;
            font-size: 1.3em;
            font-weight: normal;
        }

        h3 {
            font-size: 1.1em;
        }
    }

    .provider {
        margin: 0 0.7em 0.7em 0.7em;
    }
}

.tiles {
    margin-top: 2em;
}

.tiles .window4-mount {
    grid-column: 1 / span 2;
    grid-row: 2;
}

input.invalid, textarea.invalid {
    border: 1px solid red;
}

table.data {

    tr:nth-child(2n+3) {
        background-color: @color-whitelike-blue;
    }

    tr:first-child {
        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: @color-logo-blue;
    }
}

.service-tile hr {
    border: none;
    height: 2px;
    color: @color-whitelike-blue;
    background-color: @color-whitelike-blue;
}

.num {
    text-align: right;
}