@import './shared.less';

body {
    font-family: @default-font-family;
    font-size: 1em;
    font-display: swap;
    background-image: @main-background;
}

input.invalid, textarea.invalid {
    border: 1px solid red;
}

table.data {
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;

    tbody tr:nth-child(odd):not(.heading) {
        background-color: @color-whitelike-blue;
    }

    tr.top-grouped th {
        padding-top: 0;
        padding-bottom: 0;
    }

    tr.bottom-grouped th {
        padding-bottom: 0;
    }

    td, th {
        border: none;
        padding: 0.4em 0.9em;
    }

    td:not(:last-child), th:not(:last-child) {
        border-color: white;
        border-width: 0 2px 0 0;
        border-style: solid;
    }

    th {
        padding: 0.7em 0.7em;
    }

    th.separ:not(:last-child)  {
        border-color: #c0c0c0;
        border-width: 0 2px 0 0;
        border-style: solid;
    }
}

.TileWrapper hr {
    border: none;
    height: 2px;
    color: @color-whitelike-blue;
    background-color: @color-whitelike-blue;
}

.num {
    text-align: right;
}

.wdg-tooltip {
    background-color: #FFFFFF;
    z-index: 10000;
    padding: 1em;
    border: 1px solid @color-light-grey;
    border-radius: 3px;
    border-spacing: 0;
    border-collapse: collapse;
    line-height: 1.2em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    //pointer-events: 'none';

    table {
        .value {
            font-weight: bold;
            text-align: left;
        }

        .label {
            text-align: right;
            padding-right: 0.4em;
        }

        th {
            padding-bottom: 1em;
        }

        td {
            text-align: left;
        }

        td.numWh {
            text-align: right;
            padding: 0 0 0 1em;
        }

        td.numDec {
            padding: 0;
        }

        td.unit {
            text-align: left;
        }
    }
}

.wdg-multi-word-tooltip {

    background-color: #FFFFFF;
    z-index: 10000;
    padding: 0.3em 1em 1.3em 1em;
    border: 1px solid @color-light-grey;
    border-radius: 3px;
    border-spacing: 0;
    border-collapse: collapse;
    line-height: 1.2em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    //pointer-events: 'none';

    table {
        .value {
            text-align: left;
        }

        .label {
            font-weight: 900;
            color: white;
            text-align: center;
            padding: 0 10px 0 10px;
        }

        th {
            font-weight: bolder;
            text-align: left;
            padding: 10px 0;
        }

        td {
            text-align: left;
        }

        td.numWh {
            text-align: right;
            padding: 0 0 0 10px;
        }

        td.numDec {
            padding: 0;
        }

        td.unit {
            text-align: left;
        }

    }
}

.note {
    color: @color-light-text;
}

footer {
    font-size: 0.9em;
    text-align: center;
    margin-top: 1.5em;
    color: @color-light-text;

    section {
        > span {
            border-style: solid;
            border-color: @color-light-text;
            border-width: 0 0 0 0.15em;
            padding-left: 0.4em;
            padding-right: 0.4em;
        }
    }

    section.links, section.project-info {
        display: inline-block;
    }

    section.project-info > span:first-child {
        border: none;
    }

    section.links > span:first-child {
        border-style: solid;
        border-color: @color-light-text;
        border-width: 0 0 0 0.15em;
    }

    a {
        color: @color-light-text;
        text-decoration: none;
    }

    .action a {
        color: @color-default-text;
    }

    a:hover {
        text-decoration: underline;
    }

    section:not(:last-child) {
        margin-bottom: 0.9em;
    }

    section {

        p {
            margin-bottom: 0;
        }

        img.logo {
            width: 3.1em;
            margin-right: 0.7em;
        }
    }
}

.ThemeSelection {
    display: block;
    color: @color-light-text;

    button {
        display: inline-block;
        border: none;
        background: none;
        cursor: pointer;
        margin: 0 0.1em;
        padding: 0;
        font-size: 1em;
    }

    button.current {
        color: @color-logo-blue;
        cursor: default;
    }
}