@import './shared.less';

body {
    font-family: "Roboto", "Segoe UI", Arial, sans-serif;
    font-size: 1em;
    background-image: @main-background;
}

section.TilesSections {

    padding: 0.7em;

    section.tiles {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;
        color: #444;

    }

    > header .loader {
        position: absolute;
        left: calc(100% - 100px);
    }

    .TileGroupHeading {

        > * {
            vertical-align: middle;
        }

        h2 {
            display: inline-block;
            background-color: @color-logo-blue;
            color: #ffffff;
            border-radius: 0.25em;
            font-weight: normal;
            font-size: 1.3em;
            box-shadow: 0 -0.1em 0 0 rgba(0,0,0, .25) inset;
            padding: 0.1em;

            .flex {
                display: flex;
                align-items: center;

                > * {
                    margin: 0.2em 0.3em;
                }

                a {
                    color: #FFFFFF;
                    cursor: pointer;
                }

                a:hover {
                    color: @color-logo-blue-shining;
                }

                .switch-common {

                    flex-grow: 1;

                    .triangle {
                        display: inline-block;
                        width: 1em;
                        padding-left: 0.1em;
                        padding-right: 0.1em;

                        img {
                            width: 0.65em;
                            vertical-align: middle;
                            position: relative;
                            margin-top: -0.2em;
                        }
                    }

                    .triangle.right img {
                        width: 0.5em;
                    }

                    .switch {
                        padding-left: 0;
                    }
                }

                .help {
                    border-style: solid;
                    border-color: #FFFFFF;
                    border-width: 0 0 0 1px;
                    padding-left: 0.6em;
                    padding-right: 0.6em;
                    font-size: 0.8em;
                }

                .help.active {
                    color: @color-light-pink;
                }
            }
        }
    }

    section.group {

        > header {

            margin-top: 0;
            margin-bottom: 0.3em;


            p {
                font-family: Roboto Condensed, Segoe UI, sans-serif;
                margin-top: 0;
                margin-bottom: 0.7em;
                color: #4d3305;
                background:rgba(220, 220, 220, 0.4);
                border-radius: 0.25em;
                padding: 0.7em;
                max-width: 40em;
            }
        }

    }
}


.app-output {

    .panel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .window-buttons > span {
            vertical-align: middle;

            button {
                border: none;
                background-color: transparent;
                cursor: pointer;

                img {
                    width:1.1em;
                }
            }
        }

        .window-buttons > .TweakButton {
            img {
                width: 1.3em;
            }
        }

        .window-buttons > span.disabled {
            button {
                cursor: default;
            }
        }

        h2 {
            margin: 0;
            padding: 0;
            font-size: 1.3em;
            font-weight: normal;
        }

        h3 {
            font-size: 1.1em;
        }
    }

    .provider {
        display: initial;
        height: calc(100% - 3em);
        margin: 0;
        overflow: hidden;
    }

    .provider.hidden {
        display: none;
    }
}

.tiles .window4-mount {
    grid-column: 1 / span 2;
    grid-row: 2;
}

input.invalid, textarea.invalid {
    border: 1px solid red;
}

table.data {

    tr:nth-child(2n+3) {
        background-color: @color-whitelike-blue;
    }

    tr:first-child {
        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: @color-logo-blue;
    }
}

.TileWrapper hr {
    border: none;
    height: 2px;
    color: @color-whitelike-blue;
    background-color: @color-whitelike-blue;
}

.num {
    text-align: right;
}