@import './shared.less';

@media screen and (max-width: @media-small-screen) {

    body {
        margin: 0;
        padding: 0;

        .wdglance-mount {
            padding: 0 0.3em 0 0.3em;
        }
    }

    footer {

        margin-top: 0.4em;
        line-height: 1.5em;

        p {
            margin-bottom: 0;
        }

        .copy {
            padding-left: 0;
            display: block;
        }

        section.links > span:first-child {
            border: none;
        }

        section.project-info {

            margin-bottom: 0;

            span {
                display: block;
                border: none;
            }
        }
    }
}