@import './shared.less';

@media screen and (max-width: @media-small-screen) {

    body {
        margin: 0;
        padding: 0;

        .wdglance-mount {
            padding: 0 0.3em 0 0.3em;
        }
    }

    .WdglanceControls {
        padding: 0;
        margin-bottom: 2em;

        .QueryTypeSelector {
            margin-top: 0.2em;
        }
    }

    section.TilesSections {
        padding: 0;

        .TileGroupButton {

            width: 100%;
            white-space: normal;

            h2 {
                display: block;
                font-size: 1.1em;

                .flex {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    a:hover {
                        color: #FFFFFF;
                    }

                    .help {
                        border-width: 0;
                        font-weight: bold;
                        font-size: 120%;
                        padding-right: 0.2em;
                    }

                }
            }
        }

        section.group {

            > header {
                display: block;

                .description {
                    margin-top: 0.7em;
                    margin-left: 0;
                }
            }
        }

        section.tiles .app-output .panel h2 {
            font-size: 1.1em;
        }
    }

    .WdglanceControls {

        .main {

            .SubmitButton button {
                padding: 0.5em 1.5em 0.5em 1.5em;
            }
        }
    }

    #modal-overlay {
        background-color: hsla(0,0%,8%,.7);

        .box {
            height: calc(100vh - 2em);
            width: calc(100vw - 1em);
            margin: 0 auto;

            .content {
                height: calc(100vh - 9em);
                overflow: auto;
            }

        }

        button.close {

            img {
                width: 1.8em;

            }
        }
    }

    footer {

        margin-top: 0.4em;
        line-height: 1.5em;

        p {
            margin-bottom: 0;
        }

        .copy {
            padding-left: 0;
            display: block;
        }

        section.links > span:first-child {
            border: none;
        }

        section.project-info {

            margin-bottom: 0;

            span {
                display: block;
                border: none;
            }
        }
    }
}