@import './shared.less';

@media screen and (max-width: @media-medium-screen) {

    section.TilesSections section.tiles {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr;
        color: #444;
    }

    .WdglanceControls {

        text-align: left;

        .main {
            display: initial;
            text-align: left;

            > * {
                display: inline-block;
                padding: 0.3em;
            }


            > .SubmitButton {
                margin-left: 0;
                margin-top: 0.7em;
                display: block;
                padding: 0;
            }
        }

        .QueryLangSelector {
            margin-left: 0;
        }


        .QueryTypeSelector {

            margin-bottom: 0.7em;

            a {
                display: block;
                margin-left: 0;
            }

            a:not(:first-child) {
                margin: 0;
            }
        }
    }
}


@media screen and (max-width: @media-small-screen) {
    section.TilesSections {
        padding: 0;
    }

    .WdglanceControls .main .SubmitButton button {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    #modal-overlay {
        background-color: hsla(0,0%,8%,.7);

        .box {
            height: calc(100vh - 2em);
            width: calc(100vw - 1em);
            margin: 0 auto;

            .content {
                overflow: auto;
            }
        }

    }
}