@import '../../../css/shared.less';

.TTDistribTile {

    min-height: 15em;

    .ChartWrapper {
    }


    .charts {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }
}